body {
    background: #111;
    color: white;
    font-family: sans-serif;
    background-color: #474E68;
    text-align: center;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  
}
  
.board {
    
    margin: auto;
    text-align: center;
    border: #111;
    border-radius: 40px;
    margin-top: 30px;
    border: 3px solid #111;
    padding: 50px;
    text-align: center;
}


table {
    border-spacing: 10px;
    
    
}

.cell {
    width: 55px;
    height: 55px;
    border: 1px solid gray;
    text-align: center;
    color: #111;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer ;
    color: rgb(231, 219, 219)
}

.mine {
    align-items: center;

} 

.selected {
    background: lightcoral;
    transition: 1s;
}



#count_up_timer{
    font-size: 20px;
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;

  
}

.beginner {
    margin-right: 10px;
    margin-left: 10px;
    font-style: italic;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10%;
    padding: 10px;
    background-color: white;
}
.medium {
    margin-right: 10px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10%;
    padding: 10px;
    background-color: white
    
}
.expert {
    margin-right: 10px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10%;
    padding: 10px;
    background-color: white
}

.restart {
    margin-right: 10px;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.lives{

    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
}